@model IEnumerable<WebDoDienTu.Models.Voucher>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">Danh mục voucher</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Dashboard</a></li>
            <li class="breadcrumb-item active">Voucher</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                <button id="addProduct" type="submit" class="btn btn-primary"><a asp-action="Create" style="text-decoration: none; color: white">Thêm voucher</a></button>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
            </div>
            <div class="card-body">
                <table id="datatablesSimple">
                    <thead>
                        <tr>
                            <th>STT</th>
                            <th>Tên mã</th>
                            <th>Nội dung</th>
                            <th>Mã</th>
                            <th>Giá trị</th>
                            <th>Số lượng</th>
                            <th>Ngày hết hạn</th>
                            <th>Sửa</th>
                            <th>Xem</th>
                            <th>Xóa</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>STT</th>
                            <th>Tên mã</th>
                            <th>Nội dung</th>
                            <th>Mã</th>
                            <th>Giá trị</th>
                            <th>Số lượng</th>
                            <th>Ngày hết hạn</th>
                            <th>Sửa</th>
                            <th>Xem</th>
                            <th>Xóa</th>
                        </tr>
                    </tfoot>
                    <tbody>

                        @{
                            int soThuTu = 1;
                        }

                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@soThuTu</td>
                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                <td>@Html.DisplayFor(modelItem => item.Code)</td>
                                <td>@Html.DisplayFor(modelItem => item.Value)</td>
                                <td>@Html.DisplayFor(modelItem => item.SoLuong)</td>
                                <td>@Html.DisplayFor(modelItem => item.ExpiryDate)</td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id"><i class="fa-regular fa-pen-to-square"></i></a>
                                </td>
                                <td>
                                    <a asp-action="Details" asp-route-id="@item.Id"><i class="fa-solid fa-eye"></i></a>
                                </td>
                                <td>
                                    <a asp-action="Detele" asp-route-id="@item.Id"><i class="fa-solid fa-trash"></i></a>
                                </td>
                            </tr>
                            soThuTu++;
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
